<table class="table table-striped table-bordered">
  <thead>
  <tr sortableTableHeader [columns]="columns" (sortedColumnEventEmitter)="sortPage($event)">
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let character of characters?.results;trackBy: trackByFn">
    <td>{{character.id}}</td>
    <td>{{character.name}}</td>
    <td><img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" width="5%" height="5%"/></td>
  </tr>
  </tbody>
</table>
<app-pagination [itemsPerPage]="limit" [totalRecords]="characters?.total"
                (pageChangeEmitter)="loadPage($event)"></app-pagination>
